*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F8FAFC;
    font-family:"Poppins",sans-serif;
}

.main-container{

    width:90%;
    margin:40px auto;

    display:flex;

    gap:30px;

    align-items:flex-start;

}

.left-panel{

    flex:1;

}

.right-panel{

    flex:2;

    background:white;

    border-radius:20px;

    padding:30px;

    min-height:650px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}