.drop-zone{
    border:2px dashed #4f46e5;
    border-radius:16px;
    padding:40px;
    text-align:center;
    background:white;
    cursor:pointer;
    transition:0.3s;
}

.drop-zone:hover{
    background:#f8f9ff;
}

.drop-zone input{
    margin-top:20px;
}