.stats-card{
    background:white;
    border-radius:18px;
    padding:22px;
    text-align:center;
    box-shadow:0 8px 24px rgba(0,0,0,.08);
    transition:.3s;
}

.stats-card:hover{
    transform:translateY(-5px);
}

.stats-title{
    font-size:14px;
    font-weight:600;
    margin-bottom:12px;
}

.stats-card h2{
    font-size:32px;
    margin:0;
    color:#1E293B;
}